* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Roboto", sans-serif;
}

$Tomato: hsl(4, 100%, 67%);

$DarkSlateGrey: hsl(234, 29%, 20%);
$CharcoalGrey: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);

html,
body {
  height: 100%;
  background-color: $CharcoalGrey;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}
.overf {
  overflow: hidden;
  height: 100%;
}
.displayn {
  display: none;
}

.fw8 {
  font-weight: 800;
}

.container {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}
/*left section*/
.newsletter__form {
  transition: ease 0.5s;
  width: 820px;
  background: $White;
  display: flex;
  padding: 22px;
  height: 565px;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  align-items: center;
}

.newsletter__form.hide {
  .form,
  .form__right {
    display: none;
  }
  .success {
    display: block;
  }
}

.newsletter__form--success {
  transform: translateY(1000px);
  position: absolute;
}
.form {
  padding-left: 35px;
  text-align: center;
  padding-right: 58px;
}
.form__title {
  position: relative;
  left: -14px;
  top: -3px;
  letter-spacing: -0.5px;
  color: $DarkSlateGrey;
  font-size: 2.8em;
  font-weight: 700;
}
.form__subtitle {
  color: $CharcoalGrey;
  font-size: 0.77em;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  margin-top: 13px;
}
.form__features {
  padding-top: 22px;
}
.features__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 11px;
}
.features__item-icon {
  height: 19px;
  width: 19px;
}
.features__item-text {
  text-align: left;
  font-size: 0.78em;
  padding-left: 13px;
}

/*Form*/
form {
  margin-top: 37px;
  position: relative;
  &.error {
    .form__email {
      border: 1px solid $Tomato;
      background-color: #ffe8e6;
      color: $Tomato;
    }
    .form__label--error {
      opacity: 1;
    }
  }
}
.form__label {
  display: block;
  text-align: left;
  font-size: 0.6em;
  margin-bottom: 10px;
  font-weight: 700;
}
.form__email {
  display: block;
  width: 100%;
  border: 1px solid $Grey;
  border-radius: 5px;
  outline: none;
  height: 50px;
  padding: 0 22px;
  &:focus {
    border: 1px solid $DarkSlateGrey;
  }
}
.form__btn {
  border-radius: 5px;
  margin-top: 20px;
  background-color: $DarkSlateGrey;
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  color: $White;
  font-size: 0.78em;
  font-weight: 700;
  transition: ease-in-out 1s;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    background: rgb(245, 85, 124);
    background: linear-gradient(
      90deg,
      rgba(245, 85, 124, 1) 0%,
      rgba(249, 107, 67, 1) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    &::before {
      opacity: 1;
    }
  }
}
.form__btn-text {
  z-index: 1000;
  position: relative;
}

.form__label--error {
  color: $Tomato;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: ease 0.3s;
}

.form__email--shaking {
  animation: horizontal-shaking 0.5s;
}

/*Success*/
.form__success {
  background: $White;
  border-radius: 30px;
  position: absolute;
  transition: ease 0.5s;
  /* width: 331px; */
  width: 445px;
  height: 457px;
  padding: 42px 57px;
  transform: translateY(-1000px);
}
.form__success--shown {
  transform: translateY(0);
  position: relative;
}

.success-icon {
  width: 55px;
  display: block;
  margin-bottom: 36px;
}

.form-title--success {
  line-height: 49px;
  position: initial;
}

.form-subtitle--success {
  margin-top: 23px;
  font-size: 0.78em;
  font-weight: normal;
}
.form__btn--success {
  margin-top: 35px;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

/*Right Sections */
.form__right {
  height: 100%;
  margin-left: auto;
}
.form__right-ilustration-desktop {
  height: 100%;
}
.form__right-ilustration-mobile {
  display: none;
}

.attribution {
  position: absolute;
  bottom: 15px;
  color: $White;
  font-size: 0.9em;
  a {
    color: $Tomato;
  }
  br {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .attribution {
    color: $DarkSlateGrey;
    br {
      display: block;
    }
  }
  html,
  body {
    height: auto;
    overflow: initial;
    overflow-x: hidden;
    background-color: white;
  }
  .container {
    width: 100%;
    align-items: flex-start;
  }
  .newsletter__form {
    padding: 0;
    flex-wrap: wrap;
    height: 100%;
    border-radius: 0;
    align-items: flex-start;
    overflow: initial;
  }
  .form__right-ilustration-desktop {
    display: none;
  }
  .form__right-ilustration-mobile {
    display: block;
    width: 100%;
  }
  .form {
    order: 2;
    padding: 0 23px;
    height: 100%;
    margin-top: 34px;
    text-align: left;
    padding-top: 35px;
    padding-bottom: 70px;
    margin: 0 auto;
  }
  .form__title {
    position: relative;
    left: 0px;
    top: 0px;
    font-size: 2.28em;
  }
  .form__subtitle {
    font-size: 0.88em;
    line-height: 23px;
    margin-top: 21px;
  }
  .form__features {
    padding-top: 27px;
    padding-left: 1px;
  }
  .features__item {
    font-size: 1.15em;
    line-height: 22px;
    align-items: flex-start;
    margin-bottom: 14px;
  }
  .features__item-icon {
    width: 21px;
    height: 21px;
  }
  .form__right {
    order: 1;
    width: 100%;
  }

  form {
    margin-top: 41px;
  }
  .form__label {
    font-size: 0.68em;
  }
  .form__btn--success {
    margin-top: 30px;
    height: 55px;
    position: relative;
    bottom: 41px;
  }
  .form__btn-text {
    font-size: 1.15em;
    display: block;
    padding-top: 3px;
  }
  .form__success {
    height: 100%;
    border-radius: 0;
    padding: 0 23px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .success-icon {
    width: 65px;
  }
  .form-title--success {
    line-height: 42px;
  }
  .form-subtitle--success {
    font-size: 0.89em;
    line-height: 24px;
  }
}
